/******************************** 
 * APP STYLES
 ********************************/



/******************************** 
 * BEGIN Tool Card Styles
 ********************************/
.tool-card {
  box-sizing: border-box;
  border: 1px solid #888;
  background-color: #efefef;
  padding: 20px;
}
.tool-card:not(:last-child) {
  margin-bottom: 2em
}
.tool-card img {
  max-width: 100%;
}

.tool-card-wrapper {
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}
/******************************** 
 * END Tool Card Styles
 ********************************/


 





 /**************************************************************** 
 * Responsove Styles
 ****************************************************************/
/* TODO: ADD MEDIA QUERIES HERE */
 .tool-card-wrapper {
   width: 960px;
 }