/******************************** 
 * APP STYLES
 ********************************/

/* BEGIN General Styles
 ------------------------------*/
/* Color Variables */
:root {
  --green: #a19e00;
  --sand: #f7f4ea;
  --gold: #ffc261;
  --gray: #3c3c3c;
  --brown: #913d14;
  --white: #fff;
  --black: #000;
}

html {
  box-sizing: border-box;
}

body {
  /* background-color: #f7bb66; */
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.fancy-titles {
  font-weight: 400;
  font-family: 'Holtwood One SC', serif;
}
/* END General Styles
 ------------------------------*/


/* BEGIN Navigation Styles
 ------------------------------*/

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0 25px;
  font-family: 'Barlow', sans-serif; 
  background-color: rgb(247,244,234,.6);
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 7px;
}

a {
  color: var(--gray);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.logo {
  height: 100px;
  width: 100px;
}

.cart-icon {
  height: 28px;
  width: 28px;
  vertical-align: -8px;
  margin: 0 4px;
}

.link_space {
  padding-left: 12px;
}

/* END Navigation Styles
 ------------------------------*/

/* BEGIN Header Styles
 ------------------------------*/

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* END Header Styles
 ------------------------------*/ 


/* BEGIN Tool Card Styles
 ------------------------------*/
.tool-card h3 {
  text-align: center;
}

.tool-card {
  box-sizing: border-box;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .12);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.tool-card img {
  /* width: 100%; */
  width: 80%;
}

.tool-card-wrapper {
  background-color: var(--white);
  color: var(--gray);
  padding: 0 24px;
}

.reserve-link, .availability {
  color: var(--gray);
  text-transform: uppercase;
  display: block;
  font-size: 1.2em;
}

.availability {
  margin-bottom: .15em;
}

.availability,
.reserve-link a {
  font-weight: normal
}

.tool-card .fa-circle {
  color: var(--green);
}

.tool-card .fa-circle,
.tool-card .fa-plus {
  margin-right: 0.5em;
}

.tool-card-info {
  width: fit-content;
  margin: .25em auto 0;
}
/* END Tool Card Styles
 ------------------------------*/


 /* BEGIN Checkout Styles
 ------------------------------*/
.tool-line-item {
  display: flex;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}

.tool-line-item .title {
  padding-left: 2em;
  font-size: 1.2em;
  text-transform: capitalize;
}

.no-items {
  opacity: 0.75;
}

.checkout-btn {
  display: block;
  width: 80%;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 1em;
  margin: 18px 0;
  border-color: var(--gray);
  border-width: 2px;
}

.tools-basket, .current-checkouts {
  padding: 2em 0;
}

.current-checkouts p {
  text-transform: capitalize;
  margin: .5em 0;
}

.current-checkouts {
  background-color: #f8f8f8;
}
/* END Checkout Styles
 ------------------------------*/ 


/* BEGIN Tool Detail Styles
 ------------------------------*/
.tool-detail {
  padding: 96px 48px 0;
}
.tool-detail img {
  width: 100%;
}
.tool-detail-text {
  text-align: center;
}
.tool-detail-text .tool-name {
  font-weight: 400;
  font-family: "Holtwood One SC";
  color: var(--gray);
}
.tool-detail-text p {
  text-transform: capitalize;
}
.keep-browsing {
  display: block;
  text-transform: uppercase;
  font-size: 1.2em;
}

a.keep-browsing:active,
a.keep-browsing:hover,
a.keep-browsing:visited {
  color: var(--white);
}

.reserve-tool-btn {
  display: block;
  width: 100%;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 1em;
  margin: 18px auto;
  background-color: var(--gray);
  border-color: var(--gray);
  color: var(--white);
}

.tool-detail-wrapper {
  background-image: url("../images/tool_detail_bg.png");
  padding: 60px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
/* END Tool Detail Styles
 ------------------------------*/


/* BEGIN Registration Form Styles
 ------------------------------*/
.label-holder {
  width: 160px;
}
.form-input-field {
  width: 240px;
}
/* END Registration Form Styles
 ------------------------------*/



/**************************************************************** 
 * Responsive Styles
 ****************************************************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  * {
    /* TESTING BREAKPOINTS */
    /* color: red; */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  * {
    /* TESTING BREAKPOINTS */
    /* color: blue; */
  }
  .tool-card-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  * {
    /* TESTING BREAKPOINTS */
    /* color: green; */
  }
  .tool-detail {
    display: flex;
  }
  .tool-img-wrapper,
  .tool-detail-text {
    width: 50%;
    padding: 0 36px;
  }
  .tool-detail-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  * {
    /* TESTING BREAKPOINTS */
    /* color: magenta; */
  }

  .tool-card-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 18px;
    width: 960px;
  }

  /* main {
    padding: 0 24px;
  } */

  .tool-card-wrapper, .tool-detail-wrapper {
    width: 960px;
    margin: 0 auto;
  }
  .tool-card-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }

  .tool-card {
    margin-bottom: 0;
  }
  
  .tool-card-wrapper {
    padding: 0;
  }  
}