/******************************** 
 * APP STYLES
 ********************************/

/* BEGIN General Styles
 ------------------------------*/
/* Color Variables */
:root {
  --green: #a19e00;
  --sand: #f7f4ea;
  --gold: #ffc261;
  --gray: #3c3c3c;
  --brown: #913d14;
  --white: #fff;
  --black: #000;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



main {
  padding: 0 24px;
}
/* END General Styles
 ------------------------------*/

/* BEGIN Navigation Styles
 ------------------------------*/

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0 25px;
  font-family: 'Barlow', sans-serif; 
  background-color: rgb(247,244,234,.6);
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 7px;
}

a {
  color: var(--gray);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.logo {
  height: 100px;
  width: 100px;
}

.link_space {
  padding-left: 12px;
}

/* END Navigation Styles
 ------------------------------*/

/* BEGIN Header Styles
 ------------------------------*/

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* END Header Styles
 ------------------------------*/ 
/* BEGIN Tool Card Styles
 ------------------------------*/
h4 {
  font-family: 'Holtwood One SC', serif;
  text-align: center;
}

.tool-card {
  box-sizing: border-box;
  border: 1px solid #888;
  background-color: var(--sand);
  padding: 20px;
}
.tool-card:not(:last-child) {
  margin-bottom: 2em;
}
.tool-card img {
  width: 100%;
}

.tool-card-wrapper {
  background-color: var(--white);
  color: var(--gray);
}
/* END Tool Card Styles
 ------------------------------*/

/* BEGIN Tool Detail Styles
 ------------------------------*/
.tool-detail {
  padding: 96px 48px 0;
}
.tool-detail img {
  width: 100%;
}
.tool-detail-text {
  text-align: center;
}
.tool-detail-text .tool-name {
  font-weight: 400;
  font-family: "Holtwood One SC";
  color: var(--gray);
}
.tool-detail-text p {
  text-transform: capitalize;
}
.keep-browsing {
  display: block;
  text-transform: uppercase;
  font-size: 1.2em;
}

a.keep-browsing:active,
a.keep-browsing:hover,
a.keep-browsing:visited {
  color: var(--white);
}

.reserve-tool-btn {
  display: block;
  width: 100%;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 1em;
  margin: 18px auto;
  background-color: var(--gray);
  border-color: var(--gray);
  color: var(--white);
}
/* END Tool Detail Styles
 ------------------------------*/

/**************************************************************** 
 * Responsive Styles
 ****************************************************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  * {
    /* TESTING BREAKPOINTS */
    /* color: red; */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  * {
    /* TESTING BREAKPOINTS */
    /* color: blue; */
  }
  .tool-card-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 18px;
  }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  * {
    /* TESTING BREAKPOINTS */
    /* color: green; */
  }
  .tool-detail {
    display: flex;
  }
  .tool-img-wrapper, .tool-detail-text {
    width: 50%;
    padding: 0 36px;
  }
  .tool-detail-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  * {
    /* TESTING BREAKPOINTS */
    /* color: magenta; */
  }
  .tool-card-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 18px;
    width: 960px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */

